<?xml version="1.0" ?>
<robot name="first_gear" xmlns:xacro="http://wiki.ros.org/xacro" >
    <!-- <xacro:include filename="$(find sirgas_description)/urdf/inc/apriltag_card.xacro"/> -->

    <link name="first_gear">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find sirgas_description)/meshes/First_Gear.stl" />
            </geometry>
            <material name="DarkGrey">
                <color rgba="0.25 0.25 0.25 1.0" />
            </material>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find sirgas_description)/meshes/First_Gear.stl" />
            </geometry>
        </collision>
        <inertial>
            <mass value="1.409"/>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <inertia ixx="0.00615061" ixy="0.0" ixz="0.0" iyx="0.0" iyy="0.00615163" iyz="0.0" izx="0.0" izy= "0.0" izz="0.01209542"/>
        </inertial>
    </link>
    <!-- <xacro:attach_apriltag_card
        parent_link="first_gear"
        tag_size=".5"                
        tag_thickness="0.00001"           
        xyz="0 .06 1.0"                  
        rpy="0 3.0 0"                     
        link_name="first_gear_apriltag"
    /> -->

    <joint name="liner4_pbf" type="fixed">
        <parent link="first_gear"/>
        <child link="liner4"/>
        <origin rpy="0 0 0" xyz="0.0 -0.028 0.101"/>
        <axis xyz="0 0 1"/>
    </joint>

    <!-- Liner Info -->
    <link name="liner4">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="0.005 0.005 0.001"/>
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0" />
            </material>
        </visual>
    </link>

</robot>