<?xml version="1.0" ?>
<robot name="peg_board_assembly" xmlns:xacro="http://wiki.ros.org/xacro" >

    <joint name="pb_world_joint" type="fixed">
        <parent link="world"/>
        <child link="peg_board"/>
        <origin rpy="0 0 0" xyz="0 0 0"/>
    </joint>

    <link name="peg_board">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find sirgas_description)/meshes/Peg_Board.stl" />
            </geometry>
            <material name="LightGrey">
                <color rgba="0.7 0.7 0.7 1.0" />
            </material>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find sirgas_description)/meshes/Peg_Board.stl" />
            </geometry>
        </collision>
        <inertial>
            <mass value="170.447"/>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <inertia ixx="3.75895934" ixy="0.0" ixz="0.0" iyx="0.0" iyy="14.51416559" iyz="0.0" izx="-0.02634141" izy= "0.0" izz="17.74821744"/>
        </inertial>
    </link>

    <!-- Liner Info -->
    <link name="liner1">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="0.005 0.005 0.001"/>
            </geometry>
            <material name="Red">
                <color rgba="1.0 0 0 1.0" />
            </material>
        </visual>
    </link>

    <joint name="liner1_pbs" type="fixed">
        <parent link="peg_board"/>
        <child link="liner1"/>
        <origin rpy="0 0 0" xyz="-0.375 -0.02225 0.191"/>
        <axis xyz="0 0 1"/>
    </joint>

    <link name="liner3">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="0.005 0.005 0.001"/>
            </geometry>
            <material name="Red">
                <color rgba="1.0 0 0 1.0" />
            </material>
        </visual>
    </link>

    <joint name="liner3_pbf" type="fixed">
        <parent link="peg_board"/>
        <child link="liner3"/>
        <origin rpy="0 0 0" xyz="0.0 -0.02225 0.1905"/>
        <axis xyz="0 0 1"/>
    </joint>

    <link name="liner5">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="0.005 0.005 0.001"/>
            </geometry>
            <material name="Red">
                <color rgba="1.0 0 0 1.0" />
            </material>
        </visual>
    </link>

    <joint name="liner5_pbf" type="fixed">
        <parent link="peg_board"/>
        <child link="liner5"/>
        <origin rpy="0 0 0" xyz="0.25 -0.02225 0.1905"/>
        <axis xyz="0 0 1"/>
    </joint>

    <link name="liner7">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="0.005 0.005 0.001"/>
            </geometry>
            <material name="Red">
                <color rgba="1.0 0 0 1.0" />
            </material>
        </visual>
    </link>

    <joint name="liner7_pbt" type="fixed">
        <parent link="peg_board"/>
        <child link="liner7"/>
        <origin rpy="0 0 0" xyz="0.45 -0.02225 0.1905"/>
        <axis xyz="0 0 1"/>
    </joint>

</robot>