<?xml version="1.0" ?>
<robot name="third_gear" xmlns:xacro="http://wiki.ros.org/xacro" >

    <link name="third_gear">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find sirgas_description)/meshes/Third_Gear.stl" />
            </geometry>
            <material name="DarkGrey">
                <color rgba="0.25 0.25 0.25 1.0" />
            </material>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find sirgas_description)/meshes/Third_Gear.stl" />
            </geometry>
        </collision>
        <inertial>
            <mass value="0.538"/>
            <origin rpy="0 0 0" xyz="0 0 0.01483255"/>
            <inertia ixx="0.00095806" ixy="0.0" ixz="0.0" iyx="0.0" iyy="0.00095831" iyz="0.0" izx="0.0" izy= "0.0" izz="0.00180386"/>
        </inertial>
    </link>

    <!-- Liner Info -->

    <link name="liner8">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="0.005 0.005 0.001"/>
            </geometry>
            <material name="Red">
                <color rgba="1.0 0 0 1.0" />
            </material>
        </visual>
    </link>

    <joint name="liner8_pbt" type="fixed">
        <parent link="third_gear"/>
        <child link="liner8"/>
        <origin rpy="0 0 0" xyz="0.0 -0.028 0.0655"/>
        <axis xyz="0 0 1"/>
    </joint>

</robot>