<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur20_pba_robots">

    <!-- World fixed link -->
    <link name="world"/>
    
    <!-- Import UR20 Robot - directly include without macro call -->
    <xacro:include filename="$(find sirgas_description)/urdf/ur20_starter.urdf.xacro" />

    <!-- Import PBA Robot - directly include without macro call -->
    <xacro:include filename="$(find sirgas_description)/urdf/pba2.urdf.xacro" />

    <!-- Import UR20 Gripper Robot - directly include without macro call -->
    <xacro:include filename="$(find sirgas_description)/urdf/robotiq_arg85_description.urdf.xacro" />

    <joint name="tool0_gripper_joint" type="fixed">
        <parent link="ur20_starter/tool0"/>
        <child link="robotiq_85_base_link"/>
        <origin rpy="0 0 0" xyz="0 0 0"/>
    </joint>

     <!-- Add ROS2 Control for Gripper -->
    <ros2_control name="gripper_controller" type="system">
        <hardware>
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>
        <joint name="finger_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
        <joint name="left_inner_knuckle_joint">
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
        <joint name="left_inner_finger_joint">
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
        <joint name="right_inner_knuckle_joint">
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
        <joint name="right_inner_finger_joint">
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
        <joint name="right_outer_knuckle_joint">
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
    </ros2_control>
    
</robot>